.mobile-menu {
    &__button {
        position: absolute;
        top: 0.8rem;
        right: 0.937rem;
        border: none;
        background-color: transparent;
        padding: 0;
        width: 2.5rem;
        height: 2.5rem;
    }
    &__icon-thumb {
        display: block;
        width: 100%;
        height: 100%;
        transition: fill var(--default-transition);

    }
    &__icon {
        display: block;
        width: 100%;
        height: 100%;
    }
}
.mobile-menu__thumb {
    height: 100vh;
    padding: 3rem 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mobile-menu__icon-thumb:hover, .mobile-menu__icon-thumb:focus{
    fill: #2196F3;
    cursor: pointer;
}