.section-benefits {
    &__list {
        @include media-min (1200px) {
            justify-content: space-between;
        }
        @include media-min (768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: -15px;
        }
    }
    &__item {
        width: 100%;
        @include media-max (1200px) {
            padding: 0.937rem 0;
        }
        @include media-min (768px) {
            box-sizing: border-box;
            width: calc((50% - 30px));
            margin: 15px;
            padding: 0;
        }
        @include media-min (1200px) {
            max-width: 16.875rem;
        }
    }
    &__thumb {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 7.5rem;
        background-color: var(--color-background-third);
        margin-bottom: 1.875rem;
        border-radius: 4px;
    }
    &__icon {
        width: 4.375rem;
        height: 4.375rem;
    }
    &__title {
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 0.625rem;
        @include media-max (768px) {
            text-align: center;
        }
    }
    &__text {
        color: var(--color-secondary);
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.71;
        letter-spacing: 0.03em;
    }
}