.button-header {
    display: block;
    border: none;
    background-color: transparent;
    padding: 0;
    width: 2.5rem;
    height: 2.5rem;
    &__thumb-icon{
        fill: var(--color-primary);
        display: block;
        width: 100%;
        height: 100%;
        transition: fill var(--default-transition);
        .button-header:hover &,
        .button-header:focus &{
            fill: var(--color-accent);
        }
    }
    @include media-min (768px) {
        display: none;
    }
}